<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DefaultUploadPath" value="C:\\Users\\TUF\\Desktop\\123.png"/>
		<add key="DirectoryPath" value="C:\Users\TUF\source\repos\記帳\記帳資料"/>
		<add key="TrashImgPath" value="C:\Users\TUF\source\repos\記帳"/>
	</appSettings>

</configuration>